{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/email_text

    Template for all text emails.

    Context variables required for this template:
    * sitefullname
    * siteshortname
    * sitewwwroot
    * subject
    * body
    * prefix
}}
AFIR – Centre de formation
Formation professionnelle - Métiers de l’imprimerie

{{#prefix}}{{{prefix}}}
{{/prefix}}{{{subject}}}

------------------------------------------------------------

{{{body}}}

------------------------------------------------------------

Plateforme : {{sitewwwroot}}
{{#replyto}}Support : {{replyto}}
{{/replyto}}

Ceci est un message automatique. Merci de ne pas répondre directement à cet email.
